.image-resize {
  height: 500px;
}

.image-resize img {
  height: 100%;
}

.budget-bg-color {
  background-color: #f8f8f8;
}

label {
  width: 80px;
  display: inline-block;
  margin-left: auto;
}

.error {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  background: #f00303;
  margin-top: 20px;
  border-radius: 15px;
  padding: 5px 20px;
  display: none;
}
.error-section {
  width: 35%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .image-resize {
    height: 100%;
  }

  .error-section {
    width: 100%;
  }
}
