.image-resize {
  height: 500px;
}

.image-resize img {
  height: 100%;
}

.budget-bg-color {
  background-color: #f8f8f8;
}

@media screen and (max-width: 767px) {
  .image-resize {
    height: 100%;
  }
}

label {
  width: 80px;
  display: inline-block;
  margin-left: auto;
}
